<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Meine Mobiliar Assistent</h2>


  <ion-item>
    <ion-input type="text" placeholder="Stelle eine Frage" [(ngModel)]="question"></ion-input>
    <button clear item-right (click)="ask(question)"><ion-icon name="text"></ion-icon></button>
  </ion-item>


  <div *ngFor="let answer of answers">
    <div *ngIf="answer.bot == true" class="message_bot">
      {{answer.message}}
    </div>
    <div *ngIf="answer.bot == false" class="message_human">
      {{answer.message}}
    </div>
  </div>


  <button ion-button class="voice-buttons" icon-only clear (click)="sendVoice()">
    <ion-icon name="mic"></ion-icon>
  </button>
  <button ion-button class="voice-buttons" icon-only clear (click)="stopListening()">
    <ion-icon name="mic-off"></ion-icon>
  </button>


</ion-content>
