page-home {
  .message_human {
    background: #488aff;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 15px 20px;
    position: relative;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .message_bot {
    background: #dddddd;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 15px 20px;
    position: relative;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .voice-buttons{

    color: #2d2d2d;
  }
}
